body {
  background-color: #f9fafc !important;
}

input {
  width: 60px;
  border: 1px solid lightgrey !important;
}

.mt-4 {
  margin-top: 48px;
}

.mb-2 {
  margin-bottom: 18px !important;
}

.mr-1 {
  margin-right: 8px;
}

.b-1 {
  border: 2px solid black !important;
}

.bt-1 {
  border-top: 2px solid black !important;
}

.br-1 {
  border-right: 2px solid black !important;
}

.bb-1 {
  border-bottom: 2px solid black !important;
}

.bl-1 {
  border-left: 2px solid black !important;
}

.b-r-1 {
  border-radius: 10px !important;
}

.br-tl-1 {
  border-top-left-radius: 10px !important;
}

.br-tr-1 {
  border-top-right-radius: 10px !important;
}

.br-br-1 {
  border-bottom-right-radius: 10px !important;
}

.br-bl-1 {
  border-bottom-left-radius: 10px !important;
}

button,
input[type="color"] {
  display: inline-block;
  height: 34px;
  box-sizing: border-box;
}

#rendu-rectangle {
  height: 150px;
  width: 300px;
  border: 3px solid black;
  background-color: rgb(221, 221, 221);
}

#solid,
#dashed,
#dotted
/* #borderStyle+div, */

  {
  width: 50px;
  height: 30px;
  display: inline-block;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#dashed {
  border-style: dashed;
}

#dotted {
  border-style: dotted;
}

#border-top-1 {
  border-top-width: 0px;
  border-top-color: red;
  border-top-style: solid;
}

#border-top-2 {
  border-top-width: 3px;
  border-top-color: red;
  border-top-style: solid;
}

#border-top-3 {
  border-top-width: 10px;
  border-top-color: red;
  border-top-style: solid;
}